/*mitm.watch css styles*/
/*v1.0*/

body.test-active #initial-info,
body:not(.test-active) #results,
body:not(.booted) #results,
body:not(.test-active) .results-text,
body:not(.booted) .results-text,
/* body:not(.test-active) #socketApi, */
body:not(.test-complete) #test-complete-message,
body:not(.test-verbose) .testid-reference,
body.test-verbose .testid-unavailable,
#status-text-booting,
#flash-message {
  display: none;
}
body.test-active:not(.booting):not(.booted) #status-text-booting {
  display: block;
}
body.test-active.flash-please #socketApi {
  border: 2px solid red;
}

body.test-active.flash-please #flash-message {
  margin: 30px 0 20px 0;
  display: block;
}

#flash-message .flash-warning {
  color: red;
  display: inline;
  padding-right: 2%;
}
#flash-message .flash-text {
  display: inline;
  line-height: 2;
}


#results {
  border-collapse: collapse;
}
#results th,
#results td {
  padding: 3px 5px;
}
#results td:nth-child(1) {
  white-space: nowrap;
}
#results td:nth-child(2) {
  width: 12%;
}
#results tr.status-ok td:nth-child(3) {
  background: lightgreen;
}
#results tr.status-fail td:nth-child(3) {
  background: pink;
}
#results tr.status-na td:nth-child(3) {
  background: #e0e0e0;
}

#testid {
  font-weight: bold;
  font-family: monospace;
}

/*page style css*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5E5E5;
  color: #333333;
  margin: 0;
}

.cf-gradient {
  height: 150px;
  z-index: 0;
  background: #E5E5E5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #56547C , #7BC0DF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #56547C , #7BC0DF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #56547C , #7BC0DF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #56547C , #7BC0DF); /* Standard syntax */
}

.cf-gradient2 {
  z-index: 100;
  height: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
  background: #FFFFFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5FB1D2 , #73CDA7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5FB1D2 , #73CDA7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5FB1D2 , #73CDA7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5FB1D2 , #73CDA7); /* Standard syntax */
}

.hover-box {
  z-index: 100;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0 0;
}

.main-hover-box {
  border: 1px solid #DDDDDD;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
  width: 75%;
  margin: -100px auto 0 auto;
  z-index: 100;
}

.box-content {
  padding: 0 4rem 2rem 4rem;
  min-height: 300px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 2;
}

.hidden {
  display: none;
}

#hidden-text {
  padding: 5px 20px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.learnmore {
  color: #408BC8;
  text-decoration: underline;
  cursor: pointer;
}

.btn-start {
  color: #fff;
  background-color: #408BC8;
  border-color: #0275d8;
  display: block;
  font-weight: 400;
  line-height: 1.25;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 3rem;
  min-width: 45%;
  margin: 25px auto;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-start:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-start:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.5);
  box-shadow: 0 0 0 2px rgba(2,117,216,.5);
}

.content {
  margin-bottom: 20px;
  min-height: calc(90vh - 70px);
}

.footer {
  height: 50px;
  background-color: #FFFFFF;
  height: 75px;
  position: absolute;
  left: 0; right: 0;
}

.footer-text {
  float: right;
  margin-right: 5%;
  margin-top: 25px;
  font-size: 16px;
}

.confirm-checkbox {
  margin-right: 12px;
}

table {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-spacing: 0;
  text-align: left;
  font-size: 0.9rem;
  border-collapse: collapse;
}

table thead {
  background-color: #dedede;
}

tr {
  border: 1px solid #DDDDDD;
}

tr td:nth-child(3) {
  font-weight: 600;
  text-align: center;
  padding: 0;
  width: 8%;
}

tr td:nth-child(4) {
  width: 70%;
}

th {
  height: 55px;
  padding-left: 1%;
}

td {
  padding: 8px 10px;
}
