[Unit]
Description=Reporter web server
After=network-online.target postgresql.service

[Service]
User=caddy
Group=caddy
ExecStart=/home/caddy/reporter -config reporter_config.json
#ExecReload=/bin/kill -USR1 $MAINPID
WorkingDirectory=/home/caddy

Restart=on-abnormal
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512

PrivateTmp=true
PrivateDevices=true
ProtectHome=read-only
ProtectSystem=full
ReadWriteDirectories=/home/caddy/.caddy

# Allow binding privileged ports
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
