# NOTE uses localhost domains for testing
http://l.ls-l.info,
https://l.ls-l.info {
	root public/
	tls self_signed
	log /dev/stdout
}

https://*.l4.ls-l.info,
https://*.l6.ls-l.info {
	root public/
	tls self_signed {
		#protocols tls1.3
	}
}
